.sidenav {
  height: 86vh;
}
.sidebar {
  text-align: justify;
  color: black;
}
.sidebar li {
  list-style: none;
}
.sidebar a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.cart {
  width: 78px;
  min-height: 93px;
  /* background-color: rgb(231, 226, 226); */
  position: absolute;
  top: 350px;
  right: 17px;
  cursor: pointer;
  z-index: 1;
}
.bars-icon {
  cursor: pointer;
}

/* navbar */

.navbar .nav-link {
  font-size: 18px;
  color: #fff !important;
}
