* {
  margin: 0;
  padding: 0;
}

.search-area {
  padding-top: 150px;
}

.banner-section {
  background: url("https://i.ibb.co/Y24rSbF/landing-Banner-Top.jpg");
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
